RewriteEngine on

# Se o ficheiro ou diretório existe, usa-o diretamente

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Se não existir, reescreve o pedido para o index.php

RewriteRule . index.php
